root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
max_line_length = 100
tab_width = 4

[*.dart]
max_line_length = 120

[{.analysis_options, *.yml, *.yaml}]
indent_size = 2
