os:
  - linux
sudo: true
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - libstdc++6
      - fonts-droid
before_script:
  - git clone -b stable --depth 1 https://github.com/flutter/flutter.git
  - ./flutter/bin/flutter channel master
  - ./flutter/bin/flutter upgrade
script:
  - ./flutter/bin/flutter test --coverage --coverage-path=lcov.info
after_success:
  - bash <(curl -s https://codecov.io/bash)
cache:
  directories:
    - $HOME/.pub-cache
