name: CI

on:
  push

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-java@v1
        with:
          java-version: '12.x'
      - uses: subosito/flutter-action@v1
        with:
          channel: 'master'

      - run: flutter config --enable-linux-desktop

      - name: Patch for linux build
        run: |
          sudo apt-get update -y
          sudo apt-get install -y ninja-build libgtk-3-dev
          sudo apt-get install vlc
          sudo apt-get install libvlc-dev
          flutter doctor

      - run: flutter pub get
      - run: flutter pub run build_runner build --delete-conflicting-outputs

      # verify the use of 'dart format' on each commit.
      - name: Verify formatting
        run: flutter format --set-exit-if-changed .

      # Consider passing '--fatal-infos' for slightly stricter analysis.
      - name: Analyze project source
        run: flutter analyze

      - name: Flutter unit test
        run: flutter test --coverage --coverage-path=lcov.info

      - name: Report CodeCov
        uses: codecov/codecov-action@v1.0.2
        with:
          token: ${{secrets.CODECOV_TOKEN}}
          flags: unittests

      - name: Build APP
        run: flutter build linux
    
